<div class="container">
    <h1>Contacto</h1>

    <!-- ViewsChields -->
    <div id="text" #textos>
        <!-- <p [hidden]="true "> oculta contenido -->
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>
    <!--    Tamaño del slider:
    <input type="number" [(ngModel)]="widthSlider" />
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button> -->

    <!-- <div *ngIf="anchuraToSlider"> -->
    <!-- paso de atributos a componente hijo EJ: [etiquetas]="captions"-->
    <!-- Se toman los valores enviados desde el hijo EJ: (conseguirAutor)="getAutor($event)"-->
    <!--  <slider [anchura]="anchuraToSlider" [etiquetas]="captions" (conseguirAutor)="getAutor($event)"></slider>
    </div>
    {{autor.nombre + " " + autor.website}} -->
</div>