<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <h2>{{web}}</h2>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare lorem eget mauris dapibus, quis porta sapien
    vulputate. Nunc efficitur nunc nec neque eleifend, eget vestibulum sapien ultrices. In laoreet, elit id faucibus
    viverra, enim eros aliquet ex, rhoncus pharetra lorem libero quis metus. Cras faucibus fermentum quam, at pulvinar
    magna ultrices vel. Aliquam sollicitudin ligula a augue sagittis, id bibendum purus aliquet. Pellentesque at auctor
    velit. Donec sed scelerisque risus. Ut malesuada ante et lorem posuere, non ultricies magna tincidunt. Suspendisse
    non pellentesque nibh, eu tincidunt nulla. Sed sit amet urna a risus faucibus lobortis nec nec augue. Maecenas ac
    nisi tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</article>